<bot-sidebar [waitFor]="savedBot && general">
    <div *ngIf="form" class="container">
        <form #f="ngForm" [formGroup]="form">
            <div class="d-flex justify-content-between">
                <h1 class="display-3">General</h1>
                <mat-slide-toggle formControlName="enabled"
                    class="float-right mt-5"></mat-slide-toggle>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Prefix</mat-label>
                        <input matInput
                            formControlName="prefix" type="text">
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Ignored Channel Names</mat-label>
                        <mat-chip-list #ignoredChannelNames aria-label="Name selection">
                            <mat-chip *ngFor="let name of savedBot.autoMod.ignoredChannelNames" selectable
                                    removable (removed)="remove(name, savedBot.autoMod.ignoredChannelNames)">
                                {{ name }}
                                <mat-icon matChipRemove>x</mat-icon>
                            </mat-chip>
                            <input placeholder="New name..."
                                    [matChipInputFor]="ignoredChannelNames"
                                    matChipInputAddOnBlur
                                    (matChipInputTokenEnd)="add($event, savedBot.autoMod.ignoredChannelNames)">
                        </mat-chip-list>
                    </mat-form-field>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Auto Role Names</mat-label>
                        <mat-chip-list #autoRoleNames aria-label="Name selection">
                            <mat-chip *ngFor="let name of savedBot.autoMod.autoRoleNames" selectable
                                    removable (removed)="remove(name, savedBot.autoMod.autoRoleNames)">
                                {{ name }}
                                <mat-icon matChipRemove>x</mat-icon>
                            </mat-chip>
                            <input placeholder="New name..."
                                    [matChipInputFor]="autoRoleNames"
                                    matChipInputAddOnBlur
                                    (matChipInputTokenEnd)="add($event, savedBot.autoMod.autoRoleNames)">
                        </mat-chip-list>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
</bot-sidebar>
