<mat-sidenav-container fullscreen>
    <mat-sidenav #drawer mode="side" opened>
        <div class="bots px-2">
            <div class="user">
                <div routerLink="/dashboard" class="bot-icon">
                    <img [src]="user.displayAvatarURL" [alt]="user.username">
                </div>
                <hr class="bot-seperator">
            </div>
            <div *ngFor="let bot of bots">
                <div *ngIf="bot" [routerLink]="['/bots/' + bot.id]"
                    class="bot-icon"
                    [matTooltip]="bot.name">
                    <img *ngIf="bot.displayAvatarURL"
                        [src]="bot.displayAvatarURL" [alt]="bot.name">
                    <span *ngIf="!bot.displayAvatarURL"
                        class="d-flex justify-content-center">{{ bot.nameAcronym }}</span>
                </div>
            </div>
            <div routerLink="/add-bot" 
                class="bot-icon invite"
                matTooltip="Add a Bot">
                <span class="add-bot pt-0 d-flex justify-content-center flex-column">+</span>
            </div>
        </div>
        <div class="options">
            <ng-content select=".side-nav"></ng-content>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <navbar></navbar>
        <button class="toggle">
            <div id="nav-icon1" class="open"
                (click)="toggle($event.target)">
                <span></span>
                <span></span>
                <span></span>
              </div>
        </button>
        <ng-content select="#content"></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>